body{
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
}
h1{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(0, 100, 30);
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input, textarea{
    width: 100;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
textarea{
    resize: vertical;
    min-height: 100px;
}
button{
    background-color: black;
    color: rgb(223, 223, 223);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}   